<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update | AwTorrentLite</title>
  <!-- Files Css & Ico -->
  <%- include('../partial/link.ejs') %>
</head>

<body class="inicio" data-script="update">
  <div class="borderwin">
    <!-- Drag -->
    <%- include('../partial/drag.ejs') %>
    <div class="body">
      <!-- Contenedor -->
      <div class="centerall py-2">
        <h5 class="text-center">Actualizando</h5>
        <div class="downs">
          <h6 class="text-center tipo_text">...</h6>
          <div class="py-3">

            <div class="progress" style="height: 3px;">
              <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

          </div>

          <!-- Btns Para Continuar -->
          <div class="d-none">
            <div class="updatefiles"></div>
            <div class="updateinstall"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sscript Files -->
  <script src="js/jquery-3.5.1.js" charset="utf-8"></script>
  <script src="bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
</body>

</html>
